---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-md mx-auto p-4">
    <h1 class="text-2xl">Oi, mundo!</h1>
    <p class="text-gray-900/80">Sign in to try Clerk out!</p>
    <a
      href="/create"
      class="underline underline-offset-2 text-blue-600 mt-4 block"
      >Acessar rota privada</a
    >
  </main>
</Layout>
